:root {
  --color-dark-1: #1D252B;
  --color-light: #FFFFFF;

  --color-accent-1: #BC4749;
  --color-border-accent-1: #D66567;
  --color-accent-2: #6A994E;

  --border-radius-l: 12px;
  --border-radius-s: 7px;

  --body-font-family: 'Inter', sans-serif;

  --container-width: 1224px;
  --container-padding-x: 15px;

  --transition-duration: 0.25s;
}
